    
/* CSS für die Aufklappbaren Bereiche*/
.bs-collapser {
    margin: 1px;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}

.bs-collapser:hover {
    transform: translateX(-5px);
}
.btn {
    width: 100%;
    font-weight: bold;
    color: black;
    padding: 0;
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}

.panel-title {
    padding: 10px;
    background-color: #a5aa90;
    margin: 5px;
    border-radius: 5px;

}